{% extends "base.html" %}
{% block title %}Safe Path Finder{% endblock %}
{% block header %}<h1>Safe Path Finder</h1>{% endblock %}
{% block content %}
    
    <main>
        <form action="/directions.html" method="POST" id="directions">
            <legend>Please enter the starting address and destination address for your desired path</legend>
            <p>
                <label for="source">Source:</label>
                <input type="text" id="source" name="source" size="30" maxlength="100" required placeholder="Source Address" autofocus />
            </p>
            <p>
                <label for="destination">Destination:</label>
                <input type="text" id="destination" name="destination" size="30" maxlength="100" required placeholder="Destination Address" autofocus/>
            </p>
            <p>
                <label for="weather">Weather:</label>
                <input type="text" id="weather" name="weather" size="30" maxlength="100" required placeholder="Type of Weather" autofocus/>
            </p>
            <p>
                <label for="light_conditions">Light Conditions:</label>
                <input type="text" id="light_conditions" name="light_conditions" size="30" maxlength="100" required placeholder="Type of Light Conditions" autofocus/>
            </p>
        </form>
        <button type="submit" form="directions" value="Submit">Get Directions</button>
    </main>
{% endblock %}