{% extends "base.html" %}
{% block title %}Accident Predictor{% endblock %}
{% block header %}<h1>Accident Predictor</h1>{% endblock %}
{% block content %}
    
    <main>
        <form action="/directions.html" method="POST" id="directions">
            <legend>Please enter the address, weather, and light conditions.</legend>
            <p>
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" size="30" maxlength="100" required placeholder="Street Address" autofocus />
            </p>
            <p>
                <label for="weather">Weather:</label>
                <input type="text" id="weather" name="weather" size="30" maxlength="100" required placeholder="Type of Weather" autofocus/>
            </p>
            <p>
                <label for="light_conditions">Light Conditions:</label>
                <input type="text" id="light_conditions" name="light_conditions" size="30" maxlength="100" required placeholder="Type of Light Conditions" autofocus/>
            </p>
        </form>
        <button type="submit" form="directions" value="Submit">Get Directions</button>
    </main>
{% endblock %}